// BEGIN CHAT
.chat-window-wrapper
	#main-chat-wrappe.inner-content
		#chat-users.chat-window-wrapper.scroller.scrollbar-dynamic
			.chat-header
				.pull-left
					input(type="text", placeholder="search")
				.pull-right
					a(href="#")
						.iconset.top-settings-dark
			.side-widget
				.side-widget-title
					| group chats
				.side-widget-content
					#groups-list
						ul.groups
							li
								a(href="#")
									.status-icon.green
									| Office work
							li
								a(href="#")
									.status-icon.green
									| Personal vibes
			.side-widget.fadeIn
				.side-widget-title
					| favourites
				#favourites-list
					.side-widget-content
						.user-details-wrapper.active(data-chat-status="online", data-chat-user-pic="/assets/img/profiles/d.jpg", data-chat-user-pic-retina="/assets/img/profiles/d2x.jpg", data-user-name="Jane Smith")
							.user-profile
								img(src="/assets/img/profiles/d.jpg",  alt="User", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
							.user-details
								.user-name
									| Jane Smith
								.user-more
									| Hello you there?
							//- TODO: Corrigir lasses invertidas 
							.user-details-status-wrapper
								span.badge.badge-important
									| 3
							.user-details-count-wrapper
								.status-icon.green
							.clearfix
					.side-widget-content
						.user-details-wrapper.active(data-chat-status="busy", data-chat-user-pic="/assets/img/profiles/c.jpg", data-chat-user-pic-retina="/assets/img/profiles/d2x.jpg", data-user-name="Jane Smith")
							.user-profile
								img(src="/assets/img/profiles/c.jpg",  alt="User", data-src="/assets/img/profiles/c.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
							.user-details
								.user-name
									| David Nester
								.user-more
									| Busy, Do not disturb
							//- TODO: Corrigir lasses invertidas 
							.user-details-status-wrapper
								.clearfix
							.user-details-count-wrapper
								.status-icon.red
							.clearfix
			.side-widget
				.side-widget-title
					| more friends
				#friends-list.side-widget-content
					// A User
					.user-details-wrapper(data-chat-status="online", data-chat-user-pic="/assets/img/profiles/d.jpg", data-chat-user-pic-retina="/assets/img/profiles/d2x.jpg", data-user-name="Jane Smith")
						.user-profile
							img(src="/assets/img/profiles/d.jpg",  alt="User", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
						.user-details
							.user-name
								| Jane Smith
							.user-more
								| Hello you there?
						//- TODO: Corrigir lasses invertidas 
						.user-details-status-wrapper
							.clearfix
						.user-details-count-wrapper
							.status-icon.green
						.clearfix
					// A User
					.user-details-wrapper(data-chat-status="busy", data-chat-user-pic="/assets/img/profiles/h.jpg", data-chat-user-pic-retina="/assets/img/profiles/h2x.jpg", data-user-name="Jane Smith")
						.user-profile
							img(src="/assets/img/profiles/h.jpg",  alt="User", data-src="/assets/img/profiles/h.jpg", data-src-retina="/assets/img/profiles/h2x.jpg", width="35", height="35")
						.user-details
							.user-name
								| David Nester
							.user-more
								| Busy, Do not disturb
						//- TODO: Corrigir lasses invertidas 
						.user-details-status-wrapper
							.clearfix
						.user-details-count-wrapper
							.status-icon.red
						.clearfix
					// A User
					.user-details-wrapper(data-chat-status="online", data-chat-user-pic="/assets/img/profiles/d.jpg", data-chat-user-pic-retina="/assets/img/profiles/d2x.jpg", data-user-name="Jane Smith")
						.user-profile
							img(src="/assets/img/profiles/d.jpg",  alt="User", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
						.user-details
							.user-name
								| Jane Smith
							.user-more
								| Hello you there?
						//- TODO: Corrigir lasses invertidas 
						.user-details-status-wrapper
							.clearfix
						.user-details-count-wrapper
							.status-icon.green
						.clearfix
					// A User
					.user-details-wrapper(data-chat-status="busy", data-chat-user-pic="/assets/img/profiles/h.jpg", data-chat-user-pic-retina="/assets/img/profiles/h2x.jpg", data-user-name="Jane Smith")
						.user-profile
							img(src="/assets/img/profiles/h.jpg",  alt="User", data-src="/assets/img/profiles/h.jpg", data-src-retina="/assets/img/profiles/h2x.jpg", width="35", height="35")
						.user-details
							.user-name
								| David Nester
							.user-more
								| Busy, Do not disturb
						//- TODO: Corrigir lasses invertidas 
						.user-details-status-wrapper
							.clearfix
						.user-details-count-wrapper
							.status-icon.red
						.clearfix
		#messages-wrapper.chat-window-wrapper(style="display:none")
			.chat-header
				.pull-left
					input(type="text", placeholder="search")
				.pull-right
					a(href="#")
						.iconset.top-settings-dark
			.clearfix
			.chat-messages-header
				.status.online
				span.semi-bold
					| Jane Smith(Typing..)
				a.chat-back(href="#")
					i.icon-custom-cross
			.chat-messages.scrollbar-dynamic.clearfix
				.inner-scroll-content.clearfix
					.sent_time
						| Yesterday 11:25pm
					.user-details-wrapper
						.user-profile
							img(src="/assets/img/profiles/d.jpg", alt="", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
						.user-details
							.bubble
								| Hello, You there?
						.clearfix
						.sent_time.off
							| Yesterday 11:25pm
					.user-details-wrapper
						.user-profile
							img(src="/assets/img/profiles/d.jpg", alt="", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
						.user-details
							.bubble
								| How was the meeting?
						.clearfix
						.sent_time.off
							| Yesterday 11:25pm
					.user-details-wrapper
						.user-profile
							img(src="/assets/img/profiles/d.jpg", alt="", data-src="/assets/img/profiles/d.jpg", data-src-retina="/assets/img/profiles/d2x.jpg", width="35", height="35")
						.user-details
							.bubble
								| Let me know when you free
						.clearfix
						.sent_time.off
							| Yesterday 11:25pm
					.sent_time
						| Today 11:25pm
					.user-details-wrapper.pull-right
						.user-details
							.bubble.sender
								| Let me know when you free
						.clearfix
						.sent_time.off
							| Sent On Tue, 2:45pm
			.chat-input-wrapper(style="display:none")
				textarea#chat-message-input(rows="1", placeholder="Type your message")
			.clearfix
// END CHAT