doctype html
html
	include head.jade
		block append pluginCSS
			link(rel="stylesheet", type="text/css", href="/assets/css/twitter.css")
	
	// BEGIN BODY
	body.no-top.hide-top-content-header.twitter
		include header.jade
		
		// BEGIN CONTAINER
		.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content
					.page-title
						i.fa.fa-gears
						h2
							| Configurações
					.row
						.col-md-6
							.grid.simple
								.grid-title.no-border
									h3.h4
										| Usuários 
										span.semi-bold.text-error
											| Banidos 
										| do 
										span.semi-bold.text-primary
											| Twitter

									//-.tools
										a(href='#').collapse
										a(href='#').config
										a(href='#').reload
										a(href='#').remove
								.grid-body.no-border
									//-form#usuarios-banidos.m-t-30.m-l-15.m-r-15
									form#cadastrar_usuarios_banidos.form-group
										.input-group
											span.input-group-addon
												| @
											input(name='source', type='hidden', value='twitter')
											input(name='field', type='hidden', value='user.screen_name')
											input(name='operator', type='hidden', value='!=')
											input(name='element', type='text', placeholder='Nome do Usuário').form-control
											span.input-group-btn
												button.btn.btn-danger
													i.fa.fa-ban

									table#lista_usuarios_banidos.table.table-bordered.table-flip-scroll.cf
										thead.cf
											tr
												th(style='width: 20px;')
													//span.checkbox.check-default 
														input.checkall(type='checkbox')
												th
													| Usuário
											tbody
												each userBanned in configuration[0].usersBannedTwitter
													tr
														td.text-center
															a.remove-user.fa.fa-times.text-error(id='#{userBanned.id}', href='#')
														td
															//-a( href='http://twitter.com/gustavorps', target='_blank')
															| @#{userBanned.element}

			// END PAGE CONTAINER
		
		include footer.jade
			block pageScripts
				script(src='/assets/js/twitter.js')
				script(src='/assets/plugins/moment/moment-with-locales.min.js')
				script(src='/assets/plugins/jquery-tmpl/jquery.tmpl.min.js')
				script(src='/assets/plugins/jquery-nicescroll/jquery.nicescroll.min.js')
				script(src='/assets/plugins/autolinker/autolinker.min.js')