include header.jade

// BEGIN CONTAINER
.page-container.row-fluid
	include sidebar.jade
	
	// BEGIN PAGE CONTAINER
	.page-content
		#portlet-config.modal.hide
			.modal-header
				button.close(type="button", data-dismiss="modal")
				h3
					| Widget Settings
			.modal-body
				| Widget settings form goes here
		.clearfix
		.content.sm-gutter
			//-.page-title
				//-h3
					//-| Master Page
			//- Widgets Mixins
			include widgets.jade
			.row.2col
				+widgetProgressBar(	'TODAY\'S SERVER LOAD', 
									'blue', 
									26.19, 
									'%',
									'after', 
									4, 
									'than last month')
				+widgetProgressBar(	'TODAY\'S VISITS', 
									'green', 
									2545665, 
									null, 
									'before',
									90,
									2, 
									'than last month')
				+widgetProgressBar(	'TODAY\'S SALES', 
									'red', 
									14500, 
									'$', 
									'before',
									70,
									2, 
									'than last month')
				+widgetProgressBar(	'TODAY\'S FEEDBACKS', 
									'purple', 
									1600, 
									null, 
									'before',
									30,
									2, 
									'than last month')
			.row
				+widgetProgressBarWithInfo('OVERALL SALES', 'green')
				+widgetProgressBarWithInfo('OVERALL VISITS', 'blue')
				+widgetProgressBarWithInfo('SERVER LOAD', 'purple')
			.row.tiles-container.m-b-10.tiles.grey
				+widgetGraphics()
			.row
				.col-md-6.hidden-xlg
					+widgetTwettsUpdates()
					+widgetSignUp()
					
	// END PAGE CONTAINER
	
	include chat.jade