doctype html
html
	include head.jade
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-6
							h2
								| Seção 2
							img(src='http://104.131.228.31/facebook/secao_2_face.jpeg?timestamp=1411681456997', width='100%')
						.col-md-6
							h2
								| Seção 3
							img(src='http://104.131.228.31/facebook/secao_3_face.jpeg?timestamp=1411681456997', width='100%')
						.col-md-6
							h2
								| Nuvem de palavras Facebook
							img(src='http://104.131.228.31/facebook/nuvem_enem_face.png?timestamp=1411681456998', width='100%')

			// END PAGE CONTAINER
			
		include footer.jade
			block pageScripts
				script(src='/assets/js/twitter.js')