// BEGIN CORE JS FRAMEWORK
block coreScripts	
	script(src='/assets/plugins/jquery-1.8.3.min.js')
	script(src='/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js')
	script(src='/assets/plugins/boostrapv3/js/bootstrap.min.js')
	script(src='/assets/plugins/breakpoints.js')
	script(src='/assets/plugins/jquery-unveil/jquery.unveil.min.js')
	script(src='/assets/plugins/jquery-block-ui/jqueryblockui.js')
	script(src='/assets/plugins/jquery-lazyload/jquery.lazyload.min.js')
	script(src='/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js')
// END CORE JS FRAMEWORK

// BEGIN PAGE LEVEL JS
block pageScripts
	
// END PAGE LEVEL JS

// BEGIN CORE TEMPLATE JS
block templateScripts
	script(src='/assets/js/core.js')
	script(src='/assets/js/chat.js')
	script(src='/assets/js/demo.js')
	script(src='/assets/js/widgets.js')
// END CORE TEMPLATE JS