// BEGIN CORE JS FRAMEWORK
script(src='/assets/plugins/jquery-1.8.3.min.js')
script(src='/assets/plugins/boostrapv3/js/bootstrap.min.js')
script(src='/assets/plugins/breakpoints.js')
script(src='/assets/plugins/jquery-unveil/jquery.unveil.min.js')
script(src='/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js')
// END CORE JS FRAMEWORK

// BEGIN PAGE LEVEL JS
script(src='/assets/plugins/pace/pace.min.js')
script(src='/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js')
// END PAGE LEVEL JS

// BEGIN CORE TEMPLATE JS
script(src='/assets/js/core.js')
script(src='/assets/js/chat.js')
// END CORE TEMPLATE JS