// BEGIN CORE JS FRAMEWORK
script(src='/assets/plugins/jquery-1.8.3.min.js')
script(src='/assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js')
script(src='/assets/plugins/boostrapv3/js/bootstrap.min.js')
script(src='/assets/plugins/breakpoints.js')
script(src='/assets/plugins/jquery-unveil/jquery.unveil.min.js')
script(src='/assets/plugins/jquery-block-ui/jqueryblockui.js')
script(src='/assets/plugins/jquery-lazyload/jquery.lazyload.min.js')
script(src='/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js')
// END CORE JS FRAMEWORK

// BEGIN PAGE LEVEL JS
script(src='/assets/plugins/pace/pace.min.js')
script(src='/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js')
script(src='/assets/plugins/jquery-ricksaw-chart/js/raphael-min.js')
script(src='/assets/plugins/jquery-ricksaw-chart/js/d3.v2.js')
script(src='/assets/plugins/jquery-ricksaw-chart/js/rickshaw.min.js')
script(src='/assets/plugins/jquery-sparkline/jquery-sparkline.js')
script(src='/assets/plugins/skycons/skycons.js')
script(src='/assets/plugins/owl-carousel/owl.carousel.min.js')
script(src='http://maps.google.com/maps/api/js?sensor=true')
script(src='https://maps.gstatic.com/maps-api-v3/api/js/18/3/main.js')
script(src='/assets/plugins/jquery-gmap/gmaps.js')
script(src='/assets/plugins/shape-hover/js/snap.svg-min.js')
script(src='/assets/plugins/jquery-flot/jquery.flot.js')
script(src='/assets/plugins/jquery-flot/jquery.flot.resize.min.js')
script(src='/assets/plugins/jquery-metrojs/MetroJs.min.js')
script(src='/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js')
script(src='/assets/plugins/jquery-jvectormap/js/jquery-jvectormap-us-lcc-en.js')
script(src='/assets/plugins/Mapplic/js/jquery.easing.js')
script(src='/assets/plugins/Mapplic/js/jquery.mousewheel.js')
script(src='/assets/plugins/Mapplic/js/hammer.js')
script(src='/assets/plugins/Mapplic/mapplic/mapplic.js')
script(src='/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js')
// END PAGE LEVEL JS

// BEGIN CORE TEMPLATE JS
script(src='/assets/js/core.js')
script(src='/assets/js/chat.js')
script(src='/assets/js/demo.js')
script(src='/assets/js/widgets.js')
// END CORE TEMPLATE JS


script(src='')