head
	meta(http-equiv="content-type", content="text/html;charset=UTF-8")
	meta(charset="utf-8")
	
	title= title
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	meta(name="description", content="")
	meta(name="author", content="")
	
	// BEGIN PLUGIN css
	block pluginCSS
		link(rel="stylesheet", type="text/css", href="/assets/plugins/shape-hover/css/demo.css")
	// BEGIN PLUGIN CSS
	
	// BEGIN CORE CSS FRAMEWORK
	block coreCSS
		link(rel="stylesheet", type="text/css", href="/assets/plugins/boostrapv3/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/plugins/boostrapv3/css/bootstrap-theme.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/plugins/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/animate.min.css")
		link(rel="stylesheet", type="text/css", href="/assets/plugins/jquery-scrollbar/jquery.scrollbar.css")
	// END CORE CSS FRAMEWORK
	
	// BEGIN CSS TEMPLATE
	block templateCSS
		link(rel="stylesheet", type="text/css", href="/assets/css/style.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/responsive.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/custom-icon-set.css")
		link(rel="stylesheet", type="text/css", href="/assets/css/magic_space.css")
	// END CSS TEMPLATE
// END HEAD