// BEGIN HEADER
.header.navbar.navbar-inverse
	// BEGIN TOP NAVIGATION MENU
	.navbar-inner
		.header-seperation
			ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center(style="display:none")
				li.dropdown
					a#main-menu-toggle(href="#main-menu")
						.iconset.top-menu-toggle-white
			// BEGIN LOGO
			a(href="/")
				img.logo(src="/assets/img/logo.png", alt="logo", data-src="/assets/img/logo.png", data-src-retina="/assets/img/logo2x.png", width="106", height="21")
			// END LOGO
			// BEGIN RESPONSIVE MENU TOGGLER
			ul.nav.pull-right.notifcation-center
				li#header_task_bar.dropdown
					a.dropdown-toggle.active(href="/")
						.iconset.top-home
			// END RESPONSIVE MENU TOGGLER
		.header-quick-nav
			.pull-left
				ul.nav.quick-section
					li.quicklinks
						a#layout-condensed-toggle(href="#")
							.iconset.top-menu-toggle-dark
				//-ul.nav.quick-section
					li.quicklinks
						a(href="#")
							.iconset.top-reload
					li.quicklinks
						span.h-seperate
					li.quicklinks
						a(href="#")
							.iconset.top-tiles
					li.m-r-10.input-prepend.inside.search-form.no-boarder
						span.add-on
							span.iconset.top-search
						input.no-boarder(type="text", placeholder="Search Dashboard", style="width:250px;")
			// END TOP NAVIGATION MENU
			// BEGIN CHAT TOGGLER
			.pull-right
				.chat-toggler
					a#my-task-list.dropdown-toggle(href="#", data-placement="bottom", data-content="", data-toggle="dropdown", data-original-title="Notifications")
						.user-details
							.username
								|  Inep
						.iconset.top-down-arrow
					.profile-pic
						img(src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", alt="Profile Pic", data-src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", data-src-retina="data-src-retina",width="35", height="35")
				//-ul.nav.quick-section
					li.quicklinks
						a#user-options.dropdown-toggle.pull-right(href="#", data-toggle="dropdown")
							.iconset.top-settings-dark
						ul.dropdown-menu.pull-right(role="menu", aria-labelledby="user-options")
							li
								a(href="user-profile.html")
									| My Account
							li
								a(href="calender.html")
									| My Calendar
							li
								a(href="email.html")
									| My Inbox
									span.badge.badge-important.animated.bounceIn
										| 2
							li.divider
							li
								a(href="login.html")
									i.fa.fa-power-off
									| Log Out
			// END CHAT TOGGLER
		// END TOP NAVIGATION MENU
	// END TOP NAVIGATION BAR
// END HEADER