// BEGIN SIDEBAR
#main-menu.page-sidebar
	#main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
		// BEGIN MINI-PROFILE
		.user-info-wrapper
			.profile-wrapper
				img(src="/assets/img/profiles/avatar.jpg", alt="", data-src="/assets/img/profiles/avatar.jpg", data-src-retina="/assets/img/profiles/avatar2x.jpg", width="69", height="69")
			.user-info
				.greeting
					| Welcome
				.username
					| John 
					span.semi-bold
						| Smith
				.status
					| Status
					a(href="#")
						.status-icon.green
						| Online
		// BEGIN MINI-PROFILE
		// BEGIN SIDEBAR MENU
		p.menu-title
			| BROWSE
			span.pull-right
				a(href="#")
					i.fa.fa-refresh
		ul
			li.start.active
				a(href="index.html")
					i.icon-custom-home
					span.title
						| Dashboard
					span.selected
					span.badge.badge-important.pull-right
						| 5
			li
				a(href="email.html")
					i.fa.fa-envelope
					span.title
						| Email
					span.badge.badge-disable.pull-right
						| 203
			li
				a(href="../frontend/index.html")
					i.fa.fa-flag
					span.title
						| Frontend
			li
				a(href="#")
					i.fa.fa-adjust
					span.title
						| Themes
					span.arrow
				ul.sub-menu
					li
						a(href="theme_coporate.html")
							| Coporate
					li
						a(href="theme_simple.html")
							| Simple
					li
						a(href="theme_elegant.html")
							| Elegant
			li
				a(href="#")
					i.fa.fa-file-text
					span.title
						| Layouts
					span.arrow
				ul.sub-menu
					li
						a(href="layout_options.html")
							| Layout Options
					li
						a(href="boxed_layout.html")
							| Boxed Layout
					li
						a(href="boxed_layout_v2.html")
							| Inner Boxed Layout
					li
						a(href="extended_layout.html")
							| Extended Layout
					li
						a(href="RTL.html")
							| RTL Layout
					li
						a(href="horizontal_menu.html")
							| Horizontal Menu
					li
						a(href="horizontal_menu_boxed.html")
							| Horizontal Menu & Boxed
			li
				a(href="#")
					i.icon-custom-ui
					span.title
						| UI Elements
					span.arrow
				ul.sub-menu
					li
						a(href="typography.html")
							| Typography
					li
						a(href="messages_notifications.html")
							| Messages & Notifications
					li
						a(href="icons.html")
							| Icons
					li
						a(href="buttons.html")
							| Buttons
					li
						a(href="tabs_accordian.html")
							| Tabs & Accordions
					li
						a(href="sliders.html")
							| Tabs & Accordions
					li
						a(href="group_list.html")
							| Group list
			li
				a(href="#")
					i.icon-custom-form
					span.title
						| Forms
					span.arrow
				ul.sub-menu
					li
						a(href="form_elements.html")
							| Form Elements
					li
						a(href="form_validations.html")
							| Form Validations
			li
				a(href="#")
					i.icon-custom-portlets
					span.title
						| Grids
					span.arrow
				ul.sub-menu
					li
						a(href="grids_simple.html")
							| Simple Grids
					li
						a(href="grids_draggable.html")
							| Draggable Grids
			li
				a(href="#")
					i.icon-custom-thumb
					span.title
						| Tables
					span.arrow
				ul.sub-menu
					li
						a(href="tables.html")
							| Basic Tables
					li
						a(href="datatables.html")
							| Data Tables
			li
				a(href="#")
					i.icon-custom-map
					span.title
						| Maps
					span.arrow
				ul.sub-menu
					li
						a(href="google_map.html")
							| Google Maps
					li
						a(href="vector_map.html")
							| Vector Maps
			li
				a(href="charts.html")
					i.icon-custom-chart
					span.title
						| Charts
			li
				a(href="#")
					i.icon-custom-extra
					span.title
						| Extra
					span.arrow
				ul.sub-menu
					li
						a(href="user-profile.html")
							| User Profile
					li
						a(href="time_line.html")
							| Time line
					li
						a(href="support_ticket.html")
							| Support Ticket
					li
						a(href="gallery.html")
							| Gallery
					li
						a(href="calender.html")
							| Calendar
					li
						a(href="search_results.html")
							| Search Results
					li
						a(href="invoice.html")
							| Invoice
					li
						a(href="404.html")
							| 404 Page
					li
						a(href="500.html")
							| 500 Page
					li
						a(href="blank_template.html")
							| Blank Page
					li
						a(href="login.html")
							| Login
					li
						a(href="login_v2.html")
							| Login v2
					li
						a(href="lockscreen.html")
							| Lockscreen
			li
				a(href="#")
					i.fa.fa-folder-open
					span.title
						| Menu Levels
					span.arrow
				ul.sub-menu
					li
						a(href="#")
							| Level 1
					li
						a(href="#")
							span.title
								| Level 2
								span.arrow
							ul.sub-menu
								li
									a(href="#")
										| Sub Menu
								li
									a(href="#")
										| Sub Menu
			li#more-widgets.hidden-lg.hidden-md.hidden-xs
				a(href="#")
					i.fa.fa-plus
				ul.sub-menu
					li.side-bar-widgets
						p.menu-title
							| FOLDER
							span.pull-right
								a.create-folder(href="#")
									i.icon-plus
						ul.folders
							li
								a(href="#")
									div.status-icon.green
									| My quick tasks
							li
								a(href="#")
									div.status-icon.red
									| To do list
							li
								a(href="#")
									div.status-icon.blue
									| Projects
							li.folder-input(style="display:none")
								input#folder-name.no-boarder.folder-name(type="text", placeholder="Name of folder")
						p.menu-title
							| PROJECTS
						.status-widget
							.status-widget-wrapper
								.title
									| Freelancer
									a.remove-widget(href="#")
										i.icon-custom-cross
								p
									| Redesign home page
						.status-widget
							.status-widget-wrapper
								.title
									| envato
									a.remove-widget(href="#")
										i.icon-custom-cross
								p
									| Statistical report
		.side-bar-widgets
			p.menu-title
				| FOLDER
				span.pull-right
					a.create-folder(href="#")
						i.fa.fa-plus
			ul.folders
				li
					a(href="#")
						div.status-icon.green
						| My quick tasks
				li
					a(href="#")
						div.status-icon.red
						| To do list
				li
					a(href="#")
						div.status-icon.blue
						| Projects
				li.folder-input(style="display:none")
					input#folder-name.no-boarder.folder-name(type="text", placeholder="Name of folder")
			p.menu-title
				| PROJECTS
			.status-widget
				.status-widget-wrapper
					.title
						| Freelancer
						a.remove-widget(href="#")
							i.icon-custom-cross
					p
						| Redesign home page
			.status-widget
				.status-widget-wrapper
					.title
						| envato
						a.remove-widget(href="#")
							i.icon-custom-cross
					p
						| Statistical report
			.clearfix
	// END SIDEBAR MENU
	a.scrollup(href="#")
		| Scroll
	.footer-widget
		.progress.transparent.progress-small.no-radius.no-margin
			.progress-bar.progress-bar-success.animate-progress-bar(data-percentage="79%")
		.pull-right
			.details-status
				span.animate-number(data-animation-duration="560", data-value="86")
				| %
			a(href="lockscreen.html")
				i.fa.fa-power-off
// END SIDEBAR