// BEGIN SIDEBAR
#main-menu.page-sidebar
	#main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
		// BEGIN MINI-PROFILE
		.user-info-wrapper
			.profile-wrapper
				img(src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", alt="", data-src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", data-src-retina="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", width="69", height="69")
			.user-info
				.greeting
					| Bem Vindo!
				.username
					| Inep
		// BEGIN MINI-PROFILE
		
		// BEGIN SIDEBAR MENU
		p.menu-title
			| MENU
			//-span.pull-right
				a(href="#")
					i.fa.fa-refresh
		ul
			if (route.path.indexOf('/twitter/') > -1)
				li.start.active
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						if (route.path === '/twitter/secoes/hits')
							li.active
								a(href="/twitter/secoes/hits")
									| Hits
						else
							li
								a(href="/twitter/secoes/hits")
									| Hits

						if (route.path === '/twitter/secoes/midia')
							li.active
								a(href="/twitter/secoes/midia")
									| Mídia
						else
							li
								a(href="/twitter/secoes/midia")
									| Mídia

						if (route.path.indexOf('/twitter/estados') > -1)
							li.open
								a(href="/twitter/estados")
									span.title
										| Estados
									span.arrow.open
								ul.sub-menu
									if (route.path === '/twitter/estados/norte')
										li.active
											a(href="/twitter/estados/norte")
												| Norte
									else
										li
											a(href="/twitter/estados/norte")
												| Norte

									if (route.path === '/twitter/estados/nordeste')
										li.active
											a(href="/twitter/estados/nordeste")
												| Nordeste
									else
										li
											a(href="/twitter/estados/nordeste")
												| Nordeste

									if (route.path === '/twitter/estados/sudeste')
										li.active
											a(href="/twitter/estados/sudeste")
												| Sudeste
									else
										li
											a(href="/twitter/estados/sudeste")
												| Sudeste

									if (route.path === '/twitter/estados/centro-oeste')
										li.active
											a(href="/twitter/estados/centro-oeste")
												| Centro-Oeste
									else
										li
											a(href="/twitter/estados/centro-oeste")
												| Centro-Oeste

									if (route.path === '/twitter/estados/sul')
										li.active
											a(href="/twitter/estados/sul")
												| Sul
									else
										li
											a(href="/twitter/estados/sul")
												| Sul
						else
							li
								a(href="#")
									span.title
										| Seção 4 - Estados
									span.arrow
								ul.sub-menu
									li
										a(href="/twitter/estados/norte")
											| Norte
									li
										a(href="/twitter/estados/nordeste")
											| Nordeste
									li
										a(href="/twitter/estados/sudeste")
											| Sudeste
									li
										a(href="/twitter/estados/centro-oeste")
											| Centro-Oeste
									li
										a(href="/twitter/estados/sul")
											| Sul

						if (route.path === '/twitter/estatisticas')
							li.active
								a(href="/twitter/estatisticas")
									| Estatísticas
						else
							li
								a(href="/twitter/estatisticas")
									| Estatísticas
			else
				li
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						li
							a(href="/twitter/secoes/hits")
								| Hits
						li
							a(href="/twitter/secoes/midia")
								| Mídia
						li
							a(href="#")
								span.title
									| Estados
								span.arrow
							ul.sub-menu
								li
									a(href="/twitter/estados/norte")
										| Norte
								li
									a(href="/twitter/estados/nordeste")
										| Nordeste
								li
									a(href="/twitter/estados/sudeste")
										| Sudeste
								li
									a(href="/twitter/estados/centro-oeste")
										| Centro-Oeste
								li
									a(href="/twitter/estados/sul")
										| Sul
						li
							a(href="/twitter/estatisticas")
								| Estatísticas

			if (route.path == '/facebook/secoes' || route.path == '/facebook/estatisticas')
				li.start.active
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						if (route.path === '/facebook/secoes')
							li.active
								a(href="/facebook/secoes")
									| Seções
						else
							li
								a(href="/facebook/secoes")
									| Seções

						//-if (route.path === '/facebook/estatisticas')
							li.active
								a(href="/facebook/estatisticas")
									| Estatísticas
						//-else
							li
								a(href="/facebook/estatisticas")
									| Estatísticas
			else
				li
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						li
							a(href="/facebook/secoes")
								| Seções
						//-li
							a(href="/facebook/estatisticas")
								| Estatísticas
			.clearfix
	// END SIDEBAR MENU
	
a.scrollup(href="#")
	| Scroll
// END SIDEBAR