// BEGIN SIDEBAR
#main-menu.page-sidebar
	#main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
		// BEGIN SIDEBAR MENU
		ul
			if (route.path.indexOf('/twitter/') > -1)
				li.start.active
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						if (route.path === '/twitter/secoes/hits')
							li.active
								a(href="/twitter/secoes/hits")
									| Hits
						else
							li
								a(href="/twitter/secoes/hits")
									| Hits

						if (route.path === '/twitter/secoes/publico-geral')
							li.active
								a(href="/twitter/secoes/publico-geral")
									| Público Geral
						else
							li
								a(href="/twitter/secoes/publico-geral")
									| Público Geral

						if (route.path === '/twitter/secoes/repercussao-midiatica')
							li.active
								a(href="/twitter/secoes/repercussao-midiatica")
									| Repercussão Midiática
						else
							li
								a(href="/twitter/secoes/repercussao-midiatica")
									| Repercussão Midiática

						if (route.path.indexOf('/twitter/estados') > -1)
							li.open
								a(href="/twitter/estados")
									span.title
										| Estados
									span.arrow.open
								ul.sub-menu
									if (route.path === '/twitter/estados/norte')
										li.active
											a(href="/twitter/estados/norte")
												| Norte
									else
										li
											a(href="/twitter/estados/norte")
												| Norte

									if (route.path === '/twitter/estados/nordeste')
										li.active
											a(href="/twitter/estados/nordeste")
												| Nordeste
									else
										li
											a(href="/twitter/estados/nordeste")
												| Nordeste

									if (route.path === '/twitter/estados/sudeste')
										li.active
											a(href="/twitter/estados/sudeste")
												| Sudeste
									else
										li
											a(href="/twitter/estados/sudeste")
												| Sudeste

									if (route.path === '/twitter/estados/centro-oeste')
										li.active
											a(href="/twitter/estados/centro-oeste")
												| Centro-Oeste
									else
										li
											a(href="/twitter/estados/centro-oeste")
												| Centro-Oeste

									if (route.path === '/twitter/estados/sul')
										li.active
											a(href="/twitter/estados/sul")
												| Sul
									else
										li
											a(href="/twitter/estados/sul")
												| Sul
						else
							li
								a(href="#")
									span.title
										| Estados
									span.arrow
								ul.sub-menu
									li
										a(href="/twitter/estados/norte")
											| Norte
									li
										a(href="/twitter/estados/nordeste")
											| Nordeste
									li
										a(href="/twitter/estados/sudeste")
											| Sudeste
									li
										a(href="/twitter/estados/centro-oeste")
											| Centro-Oeste
									li
										a(href="/twitter/estados/sul")
											| Sul

						if (route.path === '/twitter/analytics')
							li.active
								a(href="/twitter/analytics")
									| Analytics
						else
							li
								a(href="/twitter/analytics")
									| Analytics
			else
				li
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						li
							a(href="/twitter/secoes/hits")
								| Hits
						li
							a(href="/twitter/secoes/publico-geral")
								| Público Geral
						li
							a(href="/twitter/secoes/repercussao-midiatica")
								| Repercussão Midiática
						li
							a(href="#")
								span.title
									| Estados
								span.arrow
							ul.sub-menu
								li
									a(href="/twitter/estados/norte")
										| Norte
								li
									a(href="/twitter/estados/nordeste")
										| Nordeste
								li
									a(href="/twitter/estados/sudeste")
										| Sudeste
								li
									a(href="/twitter/estados/centro-oeste")
										| Centro-Oeste
								li
									a(href="/twitter/estados/sul")
										| Sul
						li
							a(href="/twitter/analytics")
								| Analytics

			if (route.path == '/facebook/secoes' || route.path == '/facebook/analytics')
				li.start.active
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						if (route.path === '/facebook/secoes')
							li.active
								a(href="/facebook/secoes")
									| Seções
						else
							li
								a(href="/facebook/secoes")
									| Seções

						//-if (route.path === '/facebook/analytics')
							li.active
								a(href="/facebook/analytics")
									| Analytics
						//-else
							li
								a(href="/facebook/analytics")
									| Analytics
			else
				li
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						li
							a(href="/facebook/secoes")
								| Seções
						//-li
							a(href="/facebook/analytics")
								| Analytics
			//-if (route.path == '/configuracoes')
				li.start.active
					a(href="/configuracoes")
						i.fa.fa-gears
						span.title
							| Configurações
			//-else
				li
					a(href="/configuracoes")
						i.fa.fa-gears
						span.title
							| Configurações
			li
				a(href="http://labic.net/enem2014" target="_blank")
					i.fa.fa-share-alt
					span.title
						| Grafos
			.clearfix
	// END SIDEBAR MENU
	
a.scrollup(href="#")
	| Scroll
// END SIDEBAR