// BEGIN SIDEBAR
#main-menu.page-sidebar
	#main-menu-wrapper.page-sidebar-wrapper.scrollbar-dynamic
		// BEGIN MINI-PROFILE
		.user-info-wrapper
			.profile-wrapper
				img(src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", alt="", data-src="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", data-src-retina="https://pbs.twimg.com/profile_images/483952849391329281/m5XvJeHz.png", width="69", height="69")
			.user-info
				.greeting
					| Bem Vindo!
				.username
					| Inep
		// BEGIN MINI-PROFILE
		
		// BEGIN SIDEBAR MENU
		p.menu-title
			| MENU
			//-span.pull-right
				a(href="#")
					i.fa.fa-refresh
		ul
			if (route.path == '/twitter/secoes' || route.path == '/twitter/graficos' || route.path == '/twitter/estados')
				li.start.active
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						if (route.path === '/twitter/secoes')
							li.active
								a(href="/twitter/secoes")
									| Seções
						else
							li
								a(href="/twitter/secoes")
									| Seções

						if (route.path === '/twitter/estados')
							li.active
								a(href="/twitter/estados")
									| Estados
						else
							li
								a(href="/twitter/estados")
									| Estados

						if (route.path === '/twitter/graficos')
							li.active
								a(href="/twitter/graficos")
									| Gráficos
						else
							li
								a(href="/twitter/graficos")
									| Gráficos
			else
				li
					a(href="#")
						i.fa.fa-twitter
						span.title
							| Twitter
						span.arrow
					ul.sub-menu
						li
							a(href="/twitter/secoes")
								| Seções
						li
							a(href="/twitter/estados")
								| Estados
						li
							a(href="/twitter/graficos")
								| Gráficos

			if (route.path == '/facebook/secoes' || route.path == '/facebook/graficos')
				li.start.active
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						if (route.path === '/facebook/secoes')
							li.active
								a(href="/facebook/secoes")
									| Seções
						else
							li
								a(href="/facebook/graficos")
									| Seções

						if (route.path === '/facebook/graficos')
							li.active
								a(href="/facebook/graficos")
									| Gráficos
						else
							li
								a(href="/facebook/graficos")
									| Gráficos
			else
				li
					a(href="#")
						i.fa.fa-facebook
						span.title
							| Facebook
						span.arrow
					ul.sub-menu
						li
							a(href="/facebook/secoes")
								| Seções
						li
							a(href="/facebook/graficos")
								| Gráficos
			.clearfix
	// END SIDEBAR MENU
	
a.scrollup(href="#")
	| Scroll
// END SIDEBAR