doctype html
html
	include head.jade
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container.row-fluid
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER
			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Mais Populares"}, tweets)
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Top 20"}, tweets)
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Estado de Espírito Santo"}, tweets)
			
			// END PAGE CONTAINER
			
			include chat.jade
			script(src='/assets/js/twitter.js')
			include footer.jade