doctype html
html
	include head.jade
		block pluginCSS
			link(rel="stylesheet", type="text/css", href="/assets/css/twitter.css")
	
	// BEGIN BODY
	body.no-top.hide-top-content-header.twitter
		include header.jade
		
		// BEGIN CONTAINER
		.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.board.content.sm-gutter
					include widgets.jade

					each tweetsCategorie in tweetsCategories
						if tweetsCategorie.length > 0
							section(id=tweetsCategorie.categorieId).col-md-4
								+widgetTweetsUpdates({title: tweetsCategorie.categorieTitle}, tweetsCategorie)
			// END PAGE CONTAINER
		
		include footer.jade
			block pageScripts
				script(src='/assets/js/twitter.js')
				script(src='/assets/plugins/moment/moment-with-locales.min.js')
				script(src='/assets/plugins/jquery-tmpl/jquery.tmpl.min.js')
				script(src='/assets/plugins/infinite-scroll/jquery.infinitescroll.min.js')
				script(src='/assets/plugins/jquery-nicescroll/jquery.nicescroll.min.js')
				script(src='/assets/plugins/autolinker/autolinker.min.js')