doctype html
html
	include head.jade
		block pluginCSS
			link(rel="stylesheet", type="text/css", href="/assets/plugins/fancybox/jquery.fancybox.min.css")
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-6
							h2
								| Seção 1
							a.fancybox(href='http://104.131.228.31/teste/secao_1.jpeg?timestamp=#{moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_1.jpeg?timestamp=#{moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 2
							a.fancybox(href='http://104.131.228.31/teste/secao_2.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_2.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 3
							a.fancybox(href='http://104.131.228.31/teste/secao_3.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_3.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 4 - Norte
							a.fancybox(href='http://104.131.228.31/teste/secao_4_norte.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_norte.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 4 - Nordeste
							a.fancybox(href='http://104.131.228.31/teste/secao_4_nordeste.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_nordeste.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 4 - Centro
							a.fancybox(href='http://104.131.228.31/teste/secao_4_centro.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_centro.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 4 - Sudeste
							a.fancybox(href='http://104.131.228.31/teste/secao_4_sudeste.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_sudeste.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Seção 4 - Sul
							a.fancybox(href='http://104.131.228.31/teste/secao_4_sul.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_sul.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Nuvem de palavras Twitter
							img(src='http://104.131.228.31/facebook/nuvem_enem_twitter.png?timestamp={moment().format("X")}', width='100%')

			// END PAGE CONTAINER
			
		include footer.jade
			block pageScripts
				script(src='/assets/plugins/fancybox/jquery.fancybox.pack.min.js')