doctype html
html
	include head.jade
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-6
							h2
								| Seção 1
							img(src='http://104.131.228.31/teste/secao_1.jpeg?timestamp=1411676330627', width='100%')
						.col-md-6
							h2
								| Seção 2
							img(src='http://104.131.228.31/teste/secao_2.jpeg?timestamp=1411676330628', width='100%')
						.col-md-6
							h2
								| Seção 3
							img(src='http://104.131.228.31/teste/secao_3.jpeg?timestamp=1411676330628', width='100%')
						.col-md-6
							h2
								| Seção 4 - Norte
							img(src='http://104.131.228.31/teste/secao_4_norte.jpeg?timestamp=1411676330628', width='100%')
						.col-md-6
							h2
								| Seção 4 - Nordeste
							img(src='http://104.131.228.31/teste/secao_4_nordeste.jpeg?timestamp=1411676330629', width='100%')
						.col-md-6
							h2
								| Seção 4 - Centro
							img(src='http://104.131.228.31/teste/secao_4_centro.jpeg?timestamp=1411676330629', width='100%')
						.col-md-6
							h2
								| Seção 4 - Sudeste
							img(src='http://104.131.228.31/teste/secao_4_sudeste.jpeg?timestamp=1411676330630', width='100%')
						.col-md-6
							h2
								| Seção 4 - Sul
							img(src='http://104.131.228.31/teste/secao_4_sul.jpeg?timestamp=1411676330630', width='100%')
						.col-md-6
							h2
								| Nuvem de palavras Twitter
							img(src='http://104.131.228.31/facebook/nuvem_enem_twitter.png?timestamp=1411681456998', width='100%')

			// END PAGE CONTAINER
			
		include footer.jade
			block pageScripts
				script(src='/assets/js/twitter.js')