doctype html
html
	include head.jade
		block pluginCSS
			link(rel="stylesheet", type="text/css", href="/assets/plugins/fancybox/jquery.fancybox.min.css")
	
	// BEGIN BODY
	body.no-top.hide-top-content-header
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-6
							h2
								| Hits
							a.fancybox(href='http://104.131.228.31/teste/secao_2.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_2.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Mídia
							a.fancybox(href='http://104.131.228.31/teste/secao_3.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_3.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Região Norte
							a.fancybox(href='http://104.131.228.31/teste/secao_4_norte.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_norte.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Região Nordeste
							a.fancybox(href='http://104.131.228.31/teste/secao_4_nordeste.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_nordeste.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Região Centro
							a.fancybox(href='http://104.131.228.31/teste/secao_4_centro.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_centro.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Região Sudeste
							a.fancybox(href='http://104.131.228.31/teste/secao_4_sudeste.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_sudeste.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Região Sul
							a.fancybox(href='http://104.131.228.31/teste/secao_4_sul.jpeg?timestamp={moment().format("X")}')
								img(src='http://104.131.228.31/teste/secao_4_sul.jpeg?timestamp={moment().format("X")}', width='100%')
						.col-md-6
							h2
								| Nuvem de palavras Twitter
							img(src='http://104.131.228.31/facebook/nuvem_enem_twitter.png?timestamp={moment().format("X")}', width='100%')

			// END PAGE CONTAINER
			
		include footer.jade
			block pageScripts
				script(src='/assets/plugins/fancybox/jquery.fancybox.pack.min.js')