doctype html
html
	include head.jade
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER
			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Humor"}, tweets[0])
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Oficial"}, tweets[1])
						.col-md-4.hidden-xlg
							+widgetTwettsUpdates({title: "Institucional"}, tweets[2])
			
			// END PAGE CONTAINER
			
			include chat.jade
			script(src='/assets/js/twitter.js')
			include footer.jade