doctype html
html
	include head.jade
	
	// BEGIN BODY
	body.no-top
		include header.jade
		
		// BEGIN CONTAINER
		#twitter.page-container
			include sidebar.jade
			
			// BEGIN PAGE CONTAINER

			.page-content
				.content.sm-gutter
					include widgets.jade
					.row
						#tweets-humor.col-md-4
							+widgetTwettsUpdates({title: "Humor"}, tweets[0])
						#tweets-oficial.col-md-4
							+widgetTwettsUpdates({title: "Oficial"}, tweets[1])
						#tweets-institucional.col-md-4
							+widgetTwettsUpdates({title: "Institucional"}, tweets[2])
					.row
						#tweets-orientacoes.col-md-4
							+widgetTwettsUpdates({title: "Orientações"}, tweets[3])
						#tweets-logistica-infraestrutura.col-md-4
							+widgetTwettsUpdates({title: "Logistica & Infraestrutura"}, tweets[4])
						#tweets-cobertura-midia.col-md-4
							+widgetTwettsUpdates({title: "Cobertura da Mídia"}, tweets[5])
					.row
						#tweets-cobertura-midia.col-md-4
							+widgetTwettsUpdates({title: "Mídia"}, tweets[6])
						#tweets-questoes-pedagogicas.col-md-4
							+widgetTwettsUpdates({title: "Questões Pedagógicas"}, tweets[7])
						#tweets-educacional.col-md-4
							+widgetTwettsUpdates({title: "Educacional"}, tweets[8])
					.row
						#tweets-sentimento.col-md-4
							+widgetTwettsUpdates({title: "Sentimentos"}, tweets[9])
						#tweets-rumor.col-md-4
							+widgetTwettsUpdates({title: "Rumores"}, tweets[10])
			
			// END PAGE CONTAINER
			
		include footer.jade
			block pageScripts
				script(src='/assets/js/twitter.js')