*.sublime-project
*.sublime-workspace
*.jshintrc
*.project
*.settings
/web/src/node_modules
/resources/webarch/barebone
/resources/webarch/psd
/resources/webarch/frontend
/resources/webarch/webarch/HAML
/resources/webarch/webarch/SLIM
/api/src/node_modules