/web/src/.jshintrc
/web/src/.project
/web/src/.settings
/web/src/node_modules
/resources/webarch/barebone
/resources/webarch/psd
/resources/webarch/frontend
/resources/webarch/webarch/HAML
/resources/webarch/webarch/SLIM
/*.sublime-project
/*.sublime-workspace
