swagger: '2.0'
info:
  title: Hash API
  description: Move your app social network analytics forward with the Hash API
  version: 1.0.0
schemes:
  - http
  - https
host: hash.api.labic.net
basePath: /v1
consumes:
  - application/json
produces:
  - application/json
paths:
  /analytics/facebook/most_liked_posts:
    get:
      description: "Returns Facebook Posts collected offered by a method, a given period and filters."
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: profile_type
          in: query
          description: "Avaliable profiles types:\n - page\n - user"
          type: string
        - name: post_type
          in: query
          description: "Avaliable post types:\n - status\n - photo\n - link\n - video\n - event\n - note\n - music"
          type: string
          format: array
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Facebook Posts.
          schema:
            type: array
            items:
              $ref: '#/definitions/FacebookPost'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - facebook
  /analytics/facebook/most_shared_posts:
    get:
      description: "Returns Facebook Posts collected offered by a method, a given period and filters."
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: profile_type
          in: query
          description: "Avaliable profiles types:\n - page\n - user"
          type: string
        - name: post_type
          in: query
          description: "Avaliable post types:\n - status\n - photo\n - link\n - video\n - event\n - note\n - music"
          type: integer
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Facebook Posts.
          schema:
            type: array
            items:
              $ref: '#/definitions/FacebookPost'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - facebook
  /analytics/facebook/most_commented_posts:
    get:
      description: "Returns Facebook Posts collected offered by a method, a given period and filters."
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: profile_type
          in: query
          description: "Avaliable profiles types:\n - page\n - user"
          type: string
        - name: post_type
          in: query
          description: "Avaliable post types:\n - status\n - photo\n - link\n - video\n - event\n - note\n - music"
          type: integer
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Facebook Posts.
          schema:
            type: array
            items:
              $ref: '#/definitions/FacebookPost'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - facebook
  /analytics/facebook/most_active_profiles:
    get:
      description: "Returns Facebook Posts collected offered by a method, a given period and filters."
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: profile_type
          in: query
          description: "Avaliable profiles types:\n - page\n - user"
          type: string
        - name: post_type
          in: query
          description: "Avaliable post types:\n - status\n - photo\n - link\n - video\n - event\n - note\n - music"
          type: string
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Facebook Posts.
          schema:
            type: array
            items:
              $ref: '#/definitions/FacebookPost'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - facebook
  /analytics/twitter/most_retweeted_tweets:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_recent_retweeted_tweets:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: last
          in: query
          description: Number of last tweets inserted in database to generate most retweetded tweets. Default is `1000`.
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_mentioned_users:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_retweeted_urls:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_retweeted_images:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_active_users:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /analytics/twitter/most_popular_hashtags:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - analytics
        - twitter
  /metrics/twitter/count:
    get:
      description: ""
      parameters:
        - name: period
          in: query
          description: "Time period to filter.\nAvaliable values:\n - 15m - 15 minutes\n - 30m - 30 minutes\n - 1h - 1 hour `default`\n - 1d - 1 day\n - 7d - 7 days\n - 15d - 15 days"
          type: string
          required: true
        - name: tags
          in: query
          description: Filter tweets by tags (alias to categories)
          type: string
          format: array
        - name: hashtags
          in: query
          description: Filter tweets by hashtags
          type: string
          format: array
        - name: has
          in: query
          description: "Filter count of tweets that have:\n - media"
          type: string
          format: array
        - name: retrive_blocked
          in: query
          description: Filter tweets by hashtags. Default is `false`
          type: boolean
        - name: page
          in: query
          description: Number of the page
          type: integer
        - name: per_page
          in: query
          description: Itens per page
          type: integer
      responses:
        200:
          description: A list of Tweets.
          schema:
            type: array
            items:
              $ref: '#/definitions/Tweet'
        400:
          description: Parameters erros.
          schema:
            type: object
            items:
              $ref: '#/definitions/Error'
      tags:
        - metrics
        - twitter
definitions:
  FacebookPost:
    type: object
  Tweet:
    type: object
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string